CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_alix2=y
CONFIG_DEVEL=y
CONFIG_BUILD_LOG=y
CONFIG_DOWNLOAD_FOLDER="/src_archive/openwrt/dl"
# CONFIG_PACKAGE_firewall is not set
# CONFIG_PACKAGE_kmod-ath5k is not set
# CONFIG_PACKAGE_kmod-ath9k is not set
# CONFIG_PACKAGE_kmod-cfg80211 is not set
# CONFIG_PACKAGE_kmod-mac80211 is not set
# CONFIG_PACKAGE_kmod-pppo2ltp is not set
# CONFIG_PACKAGE_kmod-pppoe is not set
# CONFIG_PACKAGE_ppp is not set
# CONFIG_PACKAGE_ppp-mod-pppoe is not set
# CONFIG_PACKAGE_wpad is not set
CONFIG_PACKAGE_ptp-node=y
